<!DOCTYPE html>
<html>
<head>
<#include "include/header.html"/>
<title>Welcome</title>
<style>
	.plus{
		color: black;
		font-size: 30px;
		padding-top: 20px;
	}
</style>
</head>
<body>
	<#include "/include/nav.html"/>	
	<div class="container">
		<div class="row text-right">
			<a href="/diary/add">
				<span class="glyphicon glyphicon-plus-sign plus"></span>
			</a>
		</div>
		<#list diaryList as diary>
			<#if !diaryList?hasContent>
				<div class="row">
					<h4 classs="text-center">일기를 작성 하세요.</h4>
				</div>
			</#if>
			<div class="low">
				<div class="well col-sm-8 <#if diary_index % 2 == 1> col-sm-offset-4 text-right</#if>">
					<h4>${diary.title?default('제목없음')}</h4>
					<h5>Post by ${diary.u_id},
						<span class="glyphicon glyphicon-time"></span>
						${diary.regdate}
					</h5>
					<h5>
						<span class="label label-primary">맑음</span>
						<span class="label label-success">휴식</span>
					</h5>
					<br />
					<p>${diary.content}</p>
				</div>
			</div>
		</#list>
	</div>
<!-- script libary -->
<#include "/include/footer.html"/>
</body>
</html>